<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;" [ngStyle]="{'background': config.fondo, 'color': config.color}">
  <h1>
    {{ title }}!
  </h1>
  <h2>
    {{ descripcion }}
  </h2>
</div>
<nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>&nbsp;
    <a [routerLink]="['/consolas']"[routerLinkActive]="['active']">Consolas</a>&nbsp;
    <a [routerLink]="['/videojuegos']" [routerLinkActive]="['active']">Videojuegos</a>&nbsp;
    <a [routerLink]="['/reservas']" [routerLinkActive]="['active']">Reservas</a>&nbsp;
    <a [routerLink]="['/cesta']" [routerLinkActive]="['active']">Cesta</a>&nbsp;
    <a [routerLink]="['/http']" [routerLinkActive]="['active']">Http</a>&nbsp;
  </nav>
  <hr>
<!--button (click)="ocultarReservas()">{{nombre_boton}}</button>
<reservas *ngIf="mostrar_reservas"></reservas>

<juegos></juegos>
<consolas></consolas-->

<router-outlet></router-outlet>