<h1>{{ titulo }}</h1>

<p>Añadir marca {{estadoInput}}</p>
<input type="text" [(ngModel)]="nuevaMarca" (blur)="onBlur()" (focus)="onFocus()" (keyup.enter)="setMarca()"/>
<button (click)="setMarca()">Añadir Marca</button>
<span style="color:red">{{mensajeRepetido}}</span>

<h2>Marcas dispobibles</h2>
<sub>Pulsa en una para eliminarla</sub>
<div *ngFor="let marca of marcas; let indice = index"><span (click)="eliminarMarca(indice)">{{indice + '. ' +marca}}</span></div>

<h2>Consolas disponibles</h2>
<ul>
    <li *ngFor="let consola of consolas">
        <span [ngStyle]="{
            'text-decoration': !consola.stock ? 'line-through' : 'none'
        }">{{consola.nombre}} <b [class.altoPrecio] = "consola.precio > 320" [ngClass]="{ 'altoPrecio': consola.precio > 320, 'bajoPrecio': consola.precio < 200 }">{{consola.precio}}€</b>
        </span>
        <span *ngIf="consola.precio <= 400" [style.color]="consola.precio > 330 ? 'blue' : 'green'" > ¡En oferta!</span>
    </li>
</ul>

<!-- -->
<h2>Directivas</h2>
<p>*ngIf="consola.precio < 400"</p>
<p>*ngFor="let consola of consolas"</p>

<input type="text" [(ngModel)]="color" />
<h3>El color de la mayoria de consolas es</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'gris'">
        Gris
    </li>
    <li *ngSwitchCase="'azul'">
        Azul
    </li>
    <li *ngSwitchCase="'rojo'">
        Rojo
    </li>

</ul>